$main-color:#26a0a2;

.main-login{
min-height: 100vh;
min-width: 100vw;
overflow-x: hidden;
// background: linear-gradient(to right,  rgb(223, 221, 221) 50%, $main-color 50%);
background:-moz-radial-gradient(circle at 3% 25%, rgba(0, 40, 83, 1) 0%, rgba(4, 12, 24, 1) 25%);
  
    /* safari 5.1+,chrome 10+ */
    background:-webkit-radial-gradient(circle at 3% 25%, rgba(0, 40, 83, 1) 0%, rgba(4, 12, 24, 1) 25%);
  
    /* opera 11.10+ */
    background:-o-radial-gradient(circle at 3% 25%, rgba(0, 40, 83, 1) 0%, rgba(4, 12, 24, 1) 25%);
  
    /* ie 10+ */
    background:-ms-radial-gradient(circle at 3% 25%, rgba(0, 40, 83, 1) 0%, rgba(4, 12, 24, 1) 25%);
  
    /* global 92%+ browsers support */
    background:radial-gradient(circle at 3% 25%, rgba(0, 40, 83, 1) 0%, rgba(4, 12, 24, 1) 25%);
.login-contain{

        height: 75vh;
        width: 70%;
        background: linear-gradient(to right, rgb(108, 130, 163) , rgb(35, 77, 140));;
        border-radius: 1rem;
        margin: 5rem auto;
        box-shadow: 0.5rem 0.5rem 2rem -1rem rgb(58, 57, 57);
        display: flex;
        justify-content: center;
        align-items: center;
        .link{text-decoration: none;
                color:$main-color;
                transition: all 0.3s ease;
                &:hover{
                    transform: translateY(-5px);
                    color:#ffffff;
                }
               
        }
        .left-side{
            margin: 2rem 2rem;
            box-shadow: 0.5rem 0.5rem 2rem -1rem rgb(58, 57, 57);
            height: 90%;
            width:100%;
        }
        .left-side{
            display: flex;
            flex-direction: column;
            justify-content: center;
            .img-class1{
                height: 4.5rem;
                color: #ffffff;
                font-family: var(--font-family);
                margin-right: 10px;
                margin-bottom: 10px;
                margin-left: 250px;
                #img-id{
                    height: 100%;
                    object-fit: cover;
                }
            
            }
            
            input{
                    display: block;
                    border: none;
                    height: 2rem;
                    width: 50%;
                    border-radius: 5px;
                    margin: auto;
                    margin-bottom: 2rem;
                    padding: 0.2rem 1rem;
                    font-size: small;
                    color:gray;
                    transition: all 0.1s ease-in-out;
                    &:focus{
                        outline: none;
                        border: none;  
                    }
                    &:hover{
                        outline: 0.5px solid $main-color;
                        box-shadow: 2px 2px 9px -2px $main-color;
                    }
            }

            label{
                display: block;
                text-align: left;
                width:78%;    
                margin: auto;
                font-size: small;
                color:gray;
                margin-bottom: 0.5rem;

            }
            #sub_butt1{
                width: 40%;
                background: $main-color;
                color:white;
                border:none;
                margin-left: 270px;
                border-radius: 10px;
                cursor: pointer;
                padding:0.5rem 1rem;
                transition: all 0.2s ease;
                &:hover{
                    box-shadow: 4px 3px 9px -1px gray;
                    transform: translateY(-5px);
                }

            }
           
        }}}
